<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="icon" href="../../../../favicon.ico">-->
    <title>
      Alan Yessenbayev -
      {%block title%}
      {%endblock%}
    </title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-toggleable-md navbar-dark bg-nav fixed-top">
      <a class="navbar-brand" href="/">Alan Yessenbayev</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse w-100" id="navbarSupportedContent">
        <ul class="navbar-nav w-100 justify-content-center">
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a> <span class="sr-only">(current)</span></a>
          </li> 
          <li class="nav-item">
              <a class="nav-link" href="/projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="mailto:alan.yessenbayev@gmail.com">Contact Me</a>
        </li>
      
      <ul class="navbar-nav navbar-link ml-sm-auto my-auto">
        <div class="row mx-auto">
            <div class="col"><span style="font-size: 1.5em;"><a target="_blank" href="https://www.medium.com/@yessenbayev/"> <i class="fab text-center fa-medium nav-link"></i></a></span></div>
        <div class="col"><span style="font-size: 1.5em;"><a target="_blank" href="https://www.linkedin.com/in/yessenbayev/"> <i class="fab text-center fa-linkedin nav-link"></i></a></span></div>
        <div class="col"><span style="font-size: 1.5em;"><a target="_blank" href="https://www.github.com/yessenbayev/"> <i class="fab text-center fa-github nav-link"></i></a></span></div>
        </div>
      </ul>
    </div>
    </nav>

    <main class="container">
    {% block content %}
    {% endblock %}
    </main>

    <br>
    <footer class="container-fluid bg-nav">
      <h6 class="text-white text-center py-2">Designed, developed and maintained by <strong>Alan Yessenbayev</strong> with the help of my dear friends</h6>
    </footer>
    <!-- Optional JavaScript -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  </body>
</html>