body {
    padding-top: 70px;
    padding-bottom: 70px;
}

.bg-nav {
    background: navy;
}

.about-site .img-thumbnail {
    border: 0 none;
    box-shadow: none;
    background: transparent;
}

.carousel-caption {
    margin: 0.5em;
}

.carousel-inner a{
    color: turquoise;
}

a.navlink{
    color:lightgrey;
}

.card button{
    white-space:normal;
    text-align:center;
}

.accordion h5{
    text-align:center;
}
